@model WDP2022A2Mac.Models.Company

@{
    ViewData["Title"] = "Details";
}
<div id="background2" class="row">
    <div>
    <header id="listOfCompanies">Company details</header>
    <div>
        <hr />
        <dl class="row">
            <dt id="detailPageTitles" class="col-sm-12">
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.CompanyName)
            </dd>
            <dt id="detailPageTitles" class="col-sm-12">
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Summary)
            </dd>
            <dt id="detailPageTitles" class="col-sm-12">
                @Html.DisplayNameFor(model => model.ImageFilename)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.ImageFilename)
            </dd>
            <dt id="detailPageTitles" class="col-sm-12">
                @Html.DisplayNameFor(model => model.AnchorLink)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.AnchorLink)
            </dd>
            <dt id="detailPageTitles" class="col-sm-12">
                @Html.DisplayNameFor(model => model.Like)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Like)
            </dd>
            @*<dt class = "col-sm-12">
                    @Html.DisplayNameFor(model => model.canIncreaseLike)
                </dt>
                <dd class = "col-sm-12">
                    @Html.DisplayFor(model => model.canIncreaseLike)
                </dd>*@
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a>
        <button id="whiteButtonStyle" type="button" class="btn btn-default"><a id="whiteButtonText" asp-action="Index">Back to List</a></button>
        <hr/>
    </div>
   
    </div>
</div>