@model IEnumerable<WDP2022A2Mac.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<div id="background2" class="row">
    <div>
    <header id="listOfCompanies">List of Companies</header>
    <div class="col-md-12">
        <hr />
        <button style="margin-bottom:16px" id="whiteButtonStyle" type="button" class="btn btn-default"><a id="whiteButtonText" asp-action="Create">Add New Company</a></button>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Summary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageFilename)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AnchorLink)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Like)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.canIncreaseLike)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageFilename)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnchorLink)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Like)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.canIncreaseLike)
                        </td>*@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr/>
    </div>
    </div>
    </div>
